@import 'node_modules/bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  overflow: auto;
} 
/* header start */ 
.container {
  height: 800px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: #FFFFFF;
}
.nav-item a {
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}
.row {
  margin-top: 25px;
}
.line {
  height: 5px;
  margin-right: 164px;
}

.logo {
  align-items: center;
  margin-left: 75px;
  margin-top: 45px;
}
.bloom {
  width: 1120px;
  height: 149.98px;
}
.flower {
  margin-top: 25px;
  width: 1130px;
  height: 450px;
}
/* header end*/
/* section main start */
.main {
  height: 437px;
  width: 1200px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: #FFFFFF;
}
.layers {
  align-items: center;
  text-align: center;
}
h3 {
  font-weight: bold;
}
.btn {
  margin-top: 25px;
  font-size: 12px;
  font-weight: bold;
}

.magic {
  margin-top: 45px;
  text-align: center;

  h3 {
    text-transform: uppercase;
  }
  p {
    margin-top: 25px;
  }
}
.divide {
  height: 5px;
}

/* section main end */ 
/* section layer start */

.layer {
  height: 1000px;
  width: 1200px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: #FFFFFF;

  .art {
    text-align: center;
    justify-content: center;
    margin-left: 364px;
    .divide {
      height: 4px;
      margin-top: 25px;
    }
    h2 {
      margin-top: 20px;
      font-size: 45px;
      font-weight: bold;
    }
  }
  .arrangement {
    height: 427px;
    width: 1120px;
    text-align: center;
    justify-content: center;
    margin-left: 200px;

    h1 {
      margin-top: 10px;
    }
    img {
      margin-top: 15px;
    }
    h2 {
      margin-top: 15px;
      font-size: 45px;
    }
    p {
      margin-top: 20px;
    }
    .divide {
      height: 3px;
      margin-left: 30px;
    }
  }  
} 
  
/* section layer end */
/* section discover start*/
.discover {
  height: 751px;
  width: 1200;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: #FFFFFF;
}
.lav{
  align-items: center;
  margin-left: 180px;
}
/* section discover end*/

/* section work start*/
.work {
  height: 597px;
  width: 1200;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: #FFFFFF;
}
.event {
  margin-top: 85px;
  align-items: center;
  text-align: center;
}
.h3 {
  font-size: 45px;
}
/* section work end*/
/* footer start*/
.OB {
  height: 782px;
  width: 1200px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  background-color: #FFFFFF;  
}
.footer {
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left:  240px;
  
}
/* footer end */
